p {
  margin: 0;
}

.beer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.6em 0.2em;

  img {
    height: 6em;
    width: 6em;
    object-fit: contain;
  }

  div {
    margin-bottom: auto;

    h2 {
      font-size: 2em;
      max-width: 250px;
      margin: 0;
    }

    h3 {
      font-size: 1.4em;
      max-width: 250px;
      margin: 0;
      color: #969696;
    }
  }
}

.fullBeer {
  padding: 1.2em;

  img {
    display: block;
    height: 20em;
    width: 20em;
    object-fit: contain;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  p {
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  b {
    font-size: 1.2em;
    margin: 0;
    color: #969696;
  }

  .beerInfo {
    margin-bottom: 1em;

    h3 {
      font-size: 1.4em;
      margin: 0;
    }

    .header {
      .top {
        display: flex;

        h2 {
          font-size: 2.8em;
          margin: 0;
          flex-grow: 1;
        }

        b {
          font-size: 2.8em;
          margin: 0;
          color: #969696;
        }
      }

      .bottom {
        display: flex;

        h3 {
          font-size: 1.4em;
          margin: 0;
          color: #969696;
          flex-grow: 1;
        }

        b {
          font-size: 1.4em;
          margin: 0;
          color: #000000;
        }
      }
    }
  }
}
