form {
  margin: 2em;
  margin-bottom: 0;
}

div {
  display: flex;
  flex-direction: column;

  label {
    padding-left: 1em;
    font-weight: bold;
    margin-top: 1em;
  }

  label.first {
    margin-top: -1em;
  }

  input,
  textarea {
    border-radius: 1em;
    border: 1px solid #969696;
    padding: 0.5em;
  }
}

button {
  width: 100%;
  margin-top: 1em;
  border-radius: 1em;
  padding: 0.6em;
  border: none;
  color: white;
  background-color: #3dc4fc;
}
